.modal-content {
	background-color: rgb(254, 250, 255);
}
.modal-header {
	background-color: #bb7cd9;
  	color: #f8eff8;
  	font-size: 24px;
	border-bottom: 3px solid #aa62cc;
}
tbody {
	color: #bb7cd9;
}
.image-cart {
	width: 20%;
}
.link-product {
	color: #bb7cd9;
  	text-decoration: none;
}
.link-product:focus, .link-product:hover  {
  	color: #bb7cd9;
  	text-decoration: underline;
}
.one-line {
	border-bottom: 1px solid rgba(170, 98, 204, 0.2);
}
.two-line {
	border-bottom: 2px solid rgba(170, 98, 204, 0.3);
	margin: 50px;
	min-height: 200px;
}
.modal-footer {
	border-top: none;
}
.footer-border {
	border-top: 2px solid rgba(170, 98, 204, 0.6);
	justify-content: flex-start;
}
.col1 {
	width: 50%;
}
.button-add {
	background-color: #ad60d1;
	position: relative;
	font-size: 14px;
	width: 100%;
}
.col2 {
	margin-right: 20%;
	width: 45%;
	float: right;
	border-bottom: none;
}
.col3 {
	width: 5%;
}
.count-cart {
	width: 5vw;
	background-color: rgb(254, 250, 255);
	color: #aa62cc;
	border: none;
	outline: none;
}
.price {
	color: #aa62cc;
	font-size: 18px;
	right: 12%;
	position: absolute;
}
.button-like {
	width: 100%;
}
.btn-block {
	text-align: left;
}